ul {
  width: 400px;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #000;
  border-radius: 10px;
  list-style: none;
  padding: 0;
}
li {
  flex: 1;
  height: 100%;
  color: #fff;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}